<div class="container">
  <div class="page-title">
    <h4>{{title}}</h4>
    <h6 class="lg:font-medium">Manage your {{subtitle}}</h6>
  </div>
  <div class="actions">
    <button
      pButton
      icon="pi pi-file-pdf"
      pTooltip="Export to PDF"
      tooltipPosition="top"
      class="p-button-outlined p-button-secondary"
    ></button>
    <button
      pButton
      icon="pi pi-file-excel"
      pTooltip="Export to Excel"
      tooltipPosition="top"
      class="p-button-outlined p-button-secondary"
    ></button>
    <button
      pButton
      icon="pi pi-print"
      pTooltip="Print"
      tooltipPosition="top"
      class="p-button-outlined p-button-secondary"
    ></button>
    <button
      pButton
      icon="pi pi-refresh"
      pTooltip="Refresh"
      tooltipPosition="top"
      class="p-button-outlined p-button-secondary"
      (click)="onRefresh()"
    ></button>
    <button
      pButton
      icon="pi pi-plus-circle"
      label="Add New {{title}}"
      class="text-sm"
    ></button>
  </div>
</div>
