<div class="navigation-bar">
  <!-- Logo, Menu, User Actions -->
  <div class="logo">
    <img ngSrc="src/app/assets/logo/logo.svg" alt="Logo" width="20" height="20" priority />
  </div>
  <p-menubar [model]="items" class="main-menu"></p-menubar>
  <div class="user-actions">
    <i class="pi pi-inbox"></i>
    <i class="pi pi-bell"></i>
    <img ngSrc="../src/app/assets/avatar.png" alt="User Avatar" width="20" height="20" priority class="user-avatar" />
  </div>
</div>

<!-- Breadcrumb -->
<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
