<div class="navigation-bar">
  <div class="side-bar">
    <app-side-bar></app-side-bar>
  </div>
  <p-menubar [model]="items" class="main-menu"></p-menubar>
  <div class="user-actions">
    <p-overlayBadge value="3" badgeSize="small">
      <i class="pi pi-inbox"></i>
    </p-overlayBadge>
    <p-overlayBadge value="2" badgeSize="small">
      <i class="pi pi-bell text"></i>
    </p-overlayBadge>
    <img ngSrc="../src/app/assets/avatar.png" alt="User Avatar" width="20" height="20" priority class="user-avatar" />
  </div>
</div>

