<div class="navigation-bar">
  <div class="side-bar">
    <app-side-bar></app-side-bar>
  </div>
  <p-menubar [model]="items" class="main-menu"></p-menubar>
  <div class="user-actions">
    <p-overlayBadge value="3" badgeSize="small">
      <i class="pi pi-inbox"></i>
    </p-overlayBadge>
    <p-overlayBadge value="2" badgeSize="small">
      <i class="pi pi-bell text"></i>
    </p-overlayBadge>
    <p-avatar (click)="menu.toggle($event)" icon="pi pi-user" class="avatar mr-2 cursor-pointer" size="normal" shape="circle"/>
    <p-menu #menu
            [model]="menuItems"
            [popup]="true"
            [styleClass]="'user-custom-menu'">
    </p-menu>
  </div>
</div>

