/* You can add global styles to this file, and also import other style files */

@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: 'San Francisco', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f7faf7;
}


